```{=html}
<% for (const item of items) { %>
  <div <%= metadataAttrs(item) %> class="listing-citation">
    <i><%= item.title %></i>.
    <% if (item.subtitle) { %>
      <%= item.subtitle %>.
    <% } %>
    <% if (item.description) { %>
      <%= item.description %>
    <% } %>
    <% if (item.published) { %>
      <%= item.published %>.
    <% } %>
    <% if (item.url) { %>
      Available at <a href="<%= item.url %>"><%= item.url %></a>
    <% } %>
  </div>
<% } %>
```
